*{
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
}
.padre{
    display: flex;
    flex: 1;
    max-width:1200px;
    flex-flow: column nowrap;
    margin:auto;
   
}
    .header{
        display: flex;
        flex-flow: column nowrap;
        border: 10px;
        background-color: black;

    }
        .menu {
            background-color: #36BA98;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
            .logo {
                background-color: #F4A261;
                flex:1;
            }
            .nav {
                background-color: #F4A261;
                flex:3;
            }
            .social{
                background-color: #F4A261;
                flex:1;
            }
    .principal{
        display: flex;
        background-color: #E9C46A;
    }
        .banner{
            display: flex;
            background-color: #F5E7B2;
            flex: 1;
        }  
    .section{
        display: flex;
        background-color: black;
        flex-direction: row;
        min-height: 250px;
    }
        .articulos{
            display: flex;
            flex: 3 1 auto;
            background-color: #36BA98;
            flex-flow: row wrap;
        }
            .article{
                background-color: aqua;
                display: flex;
                flex: 1 1 40%;
                
            }

            .navegacion{
                background-color: aquamarine;
                display: flex;
                flex: 1 1 100%;
            }


        .aside{
            display: flex;
            flex: 1 1 auto;
            background-color: #E9C46A;
            flex-flow: column nowrap;
            
        }
            .publicidad {
                display: flex;
                flex: 1;
                background-color:#F4A261;
                justify-self: flex-start;
                max-height: 40px;
            }

    .footer{
        display: flex;
        flex: 1 1 auto;
        flex-flow: column nowrap;
        background-color: black;
    }
        .pie{
            display: flex;
            flex: 1 1 auto;
            background-color: #36BA98;
        }
@media all and (max-width: 800px){
    .section {
        flex-direction: column;
    }
    .menu{
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        align-items: flex-start;
    }
        .logo {
            width: 97%;
        }
        .nav {
            width: 97%;
        }
        .social {
            width: 97%;
        }
}
@media all and (max-width: 600px) {
    .articulos{
        flex-direction: column;
    }
}
